---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Nikkkkit blog">
	<main>
		<h1 class="text-center">Welcome to <span class="text-gradient">Nikkkkit's</span><sup>blog</sup></h1>
		<ul>
			<li>
				<a class="border-2 border-solid rounded-sm	" href="/posts/job">My post about job</a>
			</li>
			<li>
				<a class="border-2 border-solid rounded-sm	" href="/posts/love">My post about love</a>
			</li>
			<li>
				<a class="border-2 border-solid rounded-sm	" href="/posts/money">My post about money</a>
			</li>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>
