<header>
  <div class="container mx-auto flex justify-between items-center py-5">
    <span>Nikkkkit's <sup>blog</sup></span>
    <nav>
      <ul class="flex gap-28">
        <li><a href="/">Main</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="/support">Support</a></li>
      </ul>
    </nav>
    <div>
      <button class="w-10 h-10 border-2 border-black border-solid rounded-full">N</button>
    </div>
  </div>
</header>